[*.cs]
dotnet_code_quality.CA1303.excluded_type_names_with_derived_types = Exception|LoggerExtensions|ILogger

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# AD0001: Do not run top level parameter name analyzer
dotnet_diagnostic.MVC1004.severity = none